/*


*/

body {
	background-image: url('images/bodybg.jpg');
	color: #000305;
	font-size: 87%; /* base font-size = 14px */
	font-family: Arial,'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}

a { text-decoration: none;}

a:link, a:visited { color: #e74c3c ;} 
a:hover, a:active { color: #f58233 ;} 


.body {

	margin: 10px auto;
	width: 70%;
	clear: both;
}

/*------------- MAIN HEADER --------------*/

.mainheader img {
	width: 100%;
}
.mainheader nav {
	background-color: #e74c3c;
	height: 40px;
	border-radius: 5px;
}
.mainheader nav ul {
	text-align: center;
	list-style: none;
	margin: 0 auto;

}

.mainheader nav ul li {
	display: inline;
	color: white;

}

.mainheader a:link, .mainheader a:visited{
	color: white;
	padding: 10px 40px;
	display: inline-block;
	height: 20px;

}
.name {
	 
	font-size: 90%;
	color: #999;
	font-style: italic;
	margin-top: -20px
}
.password {
	font-size: 90%;
	color: #999;
	font-style: italic;
	margin-top: -20px;
}


.mainheader  a:hover .mainheader a:active{
	text-shadow: 5px 5px #000;
	color: white;
	background-color: #f58233
	
}
/*------------- MAIN CONTENT --------------*/

.mainContent {
	width: 70%;
	float: left;

}
.cheatsheet img {
	width: 700px;
	
}

.top-Content {
	background-color: #fff;
	padding: 3%;
	margin-top: 3%;
	border-radius: 5px;

}
.post-info {
	font-size: 90%;
	color: #999;
	font-style: italic;
	margin-top: -20px;
}
.post-content {
	display: block;

}
/*------------- MAIN SIDE BAR --------------*/

.theSidebar {
	width: 24%;
	margin: 2% 0 0 2%;
	float: left;
	padding: 2%;
	background-color: white;
	border-radius: 5px;

}

/*------------- MAIN FOOTER --------------*/

.footer {
	margin: top 20px; 
	float: left;
	background-color: #e74c3c;
	height: 40px;
	border-radius: 5px;
	width: 100%;
}
.footer p {
	text-align: center;
	color: white;
	width: 90%;

}
/*----------------------html5 ------------*/
.post-img { 
	width: 100%;
 }
 figure {
 	margin: 25 0px;
 	font-size: 80%;
 	color: #999;
 }